.console_history
cache/
eula.txt
logs/
ops.json
paper-1.17.1-*.jar
server.properties
usercache.json
version_history.json
whitelist.json
world/
world_nether/
world_the_end/
plugins/CoreProtect/database.db
storage.json
plugins/ProtocolLib/lastupdate
plugins/LuckPerms/translations
plugins/LuckPerms/libs
plugins/LuckPerms/luckperms-h2.mv.db
plugins/Essentials/items.json
plugins/Essentials/userdata
plugins/Essentials/warps
plugins/Essentials/usermap.csv
Vales of Amoril
