.console_history
cache/
eula.txt
logs/
ops.json
paper-1.17.1-*.jar
server.properties
usercache.json
version_history.json
whitelist.json
world/
world_nether/
world_the_end/
plugins/Brewery/worlddata.yml
plugins/Brewery/worlddataBackup.yml
plugins/Brewery/configs/*
plugins/Brewery/languages/*
plugins/Brewery/data.yml
plugins/SetHome/Homes.yml
plugins/CoreProtect/database.db
storage.json
plugins/GSit/lang/*.yml
plugins/GSit/data/s.data
plugins/GSit/data/t.data
plugins/ProtocolLib/lastupdate
plugins/ImageOnMap/images/
plugins/ImageOnMap/maps/
